.footer-wrapper {
    width: 100%;
    padding: 35px;
    text-align: center;
    &__text {
        margin: 0;
        font-size: 12px;
    }
}

@include res(md) {
    .footer-wrapper {
        &__text {
            font-size: 14px;
        }
    }
}