.savedimages-wrapper {
    &__container {
        max-width: 360px;
        margin-top: 15px;
        padding: 25px;
        border: 1px solid $grey-4;
        background-color: $white;
    }
    &__image {
        margin-bottom: 20px;
    }
}

@include res(sm) {
    .savedimages-wrapper {
        &__container {
            max-width: 85vw;
            margin-top: 20px;
        }
        &__image {
            padding: 0 10px;
        }
    }
}

@include res(md) {
    .savedimages-wrapper {
        &__container {
            max-width: 90vw;
            margin-top: 25px;
        }
    }
}

@include res(lg) {
    .savedimages-wrapper {
        &__container {
            max-width: 840px;
            margin-top: 30px;
        }
    }
}

@include res(xl) {
    .savedimages-wrapper {
        &__container {
            max-width: 880px;
            margin-top: 35px;
        }
    }
}