.savedimages-wrapper {
    &__imagetype {
        position: absolute;
        width: 100%;
        max-width: 360px;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__container {
        max-width: 360px;
        min-height: 70vh;
        margin-top: 48px;
        padding: 25px;
        border: 1px solid $grey-4;
        background-color: $white;
    }
    &__image {
        margin-bottom: 20px;
    }
    &__noimages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        border: 1px solid $grey-3;
        text-align: center;
        box-shadow: 2px 2px 5px $grey-1;
    }
    &__paragraph {
        max-width: 185px;
    }
}

@include res(sm) {
    .savedimages-wrapper {
        &__imagetype {
            max-width: 85vw;
        }
        &__container {
            max-width: 85vw;
        }
        &__image {
            padding: 0 10px;
        }
    }
}

@include res(md) {
    .savedimages-wrapper {
        &__imagetype {
            max-width: 90vw;
        }
        &__container {
            max-width: 90vw;
        }
    }
}

@include res(lg) {
    .savedimages-wrapper {
        &__imagetype {
            max-width: 840px;
        }
        &__container {
            max-width: 840px;
        }
    }
}

@include res(xl) {
    .savedimages-wrapper {
        &__imagetype {
            max-width: 880px;
        }
        &__container {
            max-width: 880px;
        }
    }
}