.about-wrapper {

}

.about {
    &__container {
        width: 80vw;
        margin: auto;
        padding: 25px;
        border: 1px solid $grey-4;
        text-align: center;
        background-color: $white;
    }
    &__text {
        text-align: left;
        color: $grey-4;
        font-size: 32px;
        line-height: 120%;
    }
    &__contact {
        list-style-type: none;
        text-align: left;
    }
    &__contact-item {
        margin-bottom: 12px;
    }
}