.about-wrapper {

}

.about {
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80vw;
        margin: auto;
        padding: 25px;
        border: 1px solid $grey-4;
        text-align: center;
        background-color: $white;
    }
    &__header {
        width: 100%;
        padding: 10px 0;
        font-weight: 300;
    }
    &__image {
        border: 1px solid $grey-4;
    }
    &__image-img {
        width: 100%;
    }
    &__check {
        margin: 0;
        padding: 12px 0;
    }
    &__text {
        text-align: left;
        color: $grey-4;
        font-size: 32px;
        line-height: 120%;
    }
    &__contact {
        list-style-type: none;
        text-align: left;
    }
    &__contact-item {
        margin-bottom: 8px;
    }
    &__contact-paragraph {
        margin-bottom: 0;
    }
}

@include res(sm) {
    .about {
        &__container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            flex-direction: row;
        }
        &__image {
            width: 40%;
            max-width: 224px;
        }
        &__check {
            position: absolute;
            left: 40%;
            top: 93px;
            max-width: 295px;
            margin-left: 20px;
            margin-top: 15px;
            padding: 0;
            text-align: left;
            font-size: 22px;
        }
        &__text {
            order: 2;
            width: 40%;
            max-width: 224px;
            padding: 15px 0;
            font-size: 28px;
        }
        &__contact {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 60%;
            margin: 0;
            padding-left: 15px;
            order: 1;
        }
        &__contact-item {
            margin-bottom: 2px;
            font-size: 14px;
        }
    }
}

@include res(md) {
    .about {
        &__header {
            position: absolute;
            left: 249px;
            width: auto;
            margin: 0;
            margin-left: 15px;
            padding-bottom: 0;
            text-align: left;
            font-size: 36px;
        }
        &__check {
            top: 83px;
            left: 249px;
            max-width: none;
            margin: 0;
            margin-left: 15px;
        }
        &__contact {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 60%;
            margin: 0;
            padding-left: 15px;
            order: 1;
        }
        &__contact-item {
            margin-bottom: 2px;
            font-size: 17px;
        }
    }
}

@include res(lg) {
    .about {
        &__container {
            max-width: 825px;
        }
        &__header {
            font-size: 42px;
        }
        &__check {
            top: 91px;
        }
    }
}