
$breakpoints: (
    "xs": (
      max-width: 576px
    ),
    "sm": (
      min-width: 576px
    ),
    "md": (
      min-width: 768px
    ),
    "lg": (
      min-width: 992px
    ),
    "xl": (
      min-width: 1200px
    )
  );
  @mixin res($name) {
    @if map-has-key($breakpoints, $name) {
      @media #{inspect(map-get($breakpoints, $name))} {
        @content;
      }
    } @else {
      @warn "Unfortunately, this value does not exist in resolution.scss `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
    }
  }